@model JobWebApp.Models.Position

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body style="background-color:lavender;">
    <h1>Delete</h1>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Position</h4>
        <hr />

        <div class="col-md-4">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.PositionType)
                </dt>
                <dd class="col-sm-10 text-danger">
                    @Html.DisplayFor(model => model.PositionType)
                </dd>
            </dl>
            <h4 danger>WARNING</h4>
            <span>Deleting this job type, all job offers with thid type will be deleted also!</span>
            <form class="form-group" asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" class="btn btn-outline-danger" value="Yes. Delete" />
                <a asp-action="Index" class="btn btn-outline-primary">No. Back to List</a>
            </form>
        </div>
    </div>
</body>



