@model JobWebApp.Models.JobOffer
@{
    ViewData["Title"] = "Detail of a Job Offer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">
        <div class="col-sm-12">
            <h3>Details of a Job Offer</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10">
            <form method="post" asp-action="Detail">

                <input type="hidden" asp-action="Id" />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" disabled />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Local" class="control-label"></label>
                    <input asp-for="Local" class="form-control" disabled />
                    <span asp-validation-for="Local" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" disabled />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Responsibility" class="control-label"></label>
                    <input asp-for="Responsibility" class="form-control" disabled />
                    <span asp-validation-for="Responsibility" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Requirement" class="control-label"></label>
                    <input asp-for="Requirement" class="form-control" disabled />
                    <span asp-validation-for="Requirement" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PostDate" class="control-label"></label>
                    <input asp-for="PostDate" class="form-control" disabled />
                    <span asp-validation-for="PostDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Wage" class="control-label"></label>
                    <input asp-for="Wage" class="form-control" disabled />
                    <span asp-validation-for="Wage" class="text-danger"></span>
                </div>
            </form>
        </div>
    </div>
</div>

<td>
    <p><span></span></p>
    <a asp-controller="JobOffers" asp-action="Index" class="btn btn-success"> Return</a>

</td>


@section Scripts{

    @{
        <partial name="_ValidationScriptsPartial" />
    }
}


