@{
    ViewData["Title"] = "Welcome";
}

<body>

    <style>
        Section {
            width: 36rem;
            margin: auto;
            border: 0px solid red;
        }
    </style>

    <div class="text-center">
        <a class="nav-link text-dark" asp-controller="JobOffers" asp-action="Index"> <h1 class="display-4">Welcome</h1></a>
        <a class="nav-link text-dark" asp-controller="JobOffers" asp-action="Index"> To initiate the App clik here</a>
    </div>
    <Section>
        <div class="card border-primary mb-3" style="max-width: 36rem;" margin-left="auto" margin-right="auto">
            <div class="card-header">Task</div>
            <div class="card-body">
                <h4 class="card-title">Develop an Application to controll Job Offers</h4>
                <p class="card-text"> Web Application com cadastrar, visualizar, deletar e editar vagas de trabalho:</p>
                <p>- Linguagem: .NET (Framework ou Core)</p>
                <p>- Arquitetura: MVC (ASP.NET MVC)</p>
                <p>- Armazenamento: Banco de dados</p>
                <p></p>
                <p>- Aparência não é um fator de avaliação</p>
            </div>
        </div>

        <div class="card border-primary mb-3" style="max-width: 36rem;">
            <div class="card-header">Solution</div>
            <div class="card-body">
                <h4 class="card-title">Developed a CRUD with ASP.NET 5.0</h4>
                <p class="card-text">With: </p>
                <p>- Microsoft Visual Studio</p>
                <p>- Database SqlServer</p>
            </div>
        </div>
    </Section>
</body>



